.btn-path{
    width: 80px;
    height: 80px;
    outline: none;
    padding: 8px 10px;
    border: solid 1px black;
    margin-right: 3px;
}
.link-path{
    text-decoration: none;
    color: #7f8284;
    text-transform: capitalize;
}