.add-container{
    height: 50px;
  width: calc(100% - 20px);
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  padding: 0 10px;
}
.btn-add{
background-color: brown;
color: white;
border: none;
outline: none;
border-radius: 8px;
cursor: pointer;
}
@media (max-width:678px) {
  .btn-add{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
  }
  input{
    width: 100% !important;
  height: 30px;

  }
}